/**estilo imagenes**/
.imgmain {

    max-width: 98.7%;
    border: 5px solid black;
}

.asidepics {
    max-width: 100%;
    border: 5px solid black;
}

.logo-tarj {
    max-width: 49px;
    padding: 10px;
}

/***/